<header id="header-container" class="header-container">
	<div class="header-wrapper">
		<img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Logo Betta Dev Indonesia" width="180" height="180">
		<h1 class="header-title text-white font-weight-bold">{{ site.title }}</h1>
		<p>Betta Dev Indonesia bekerja dengan <mark>PASSION</mark>, kami selalu mengedapankan kepuasan pelanggan / klien. Kami tidak pernah memperjulan-belikan aplikasi / software jadi. Karena menurut kami, website merupakan <mark>identitas bisnis</mark> anda. Kami tidak ingin pelanggan anda tidak mengenal anda secara <mark>brand</mark> dan <mark>ciri khas</mark> bisnis anda.</p>
	</div>
</header><!-- /header -->