.header-container {
	width: 100%;
	height: 100vh;
	background: url('../images/banner-header.png') no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	.header-wrapper {
		width: 75%;
		text-align: center;
		color: #fff !important;
		mark {
			background-color: rgba($color: yellow, $alpha: 0.5);
			padding: 2px 5px;
			font-weight: bold;
			font-style: italic;
			color: #fff;
		}
	}
}